.navbar-custom{

}
header{
	height: 450px;
	color: white;
	padding: 120px 0;
	/*background-image:url('../images/image-builder-2.jpeg');*/
	/*background-image:url('../images/images-builder1.jpeg');*/
	background-image:url('../images/builder.jpg');
	
	
	background-size: cover;
}
header h1{
	font-size: 50px;
	text-shadow: 3px 3px 2px black;
}
header p{
	font-size: 20px;
	text-shadow: 2px 2px 2px black;
}
.block-a{
	font-size: 20px;
	margin: 20px 0;
	border-top: 1px solid gray;
	
	padding: 5px;
}
.block-b{
	font-size: 20px;
	
	
	border-bottom:  1px solid gray;
	padding: 5px;
	background-color: #f1f1f1;
}
.thumbnail img{
	width: 350px;
	height: 230px;
}
.about_para{
	font-size: 18px;
	line-height: 30px;
}