body {
	font-family: Helvetica,Arial,sans-serif;

	font-size:12px; 
	margin:0 auto;
	background:url(../images/back3.jpg) repeat;
}
.page{
	width:1200px;
	margin:0 auto;
	background:#fff;
	min-height:200px;
}
.header{
	background:#c3dcec;
	border-bottom:2px solid #ccc;
}
.head{ 
	height:110px;
	width:1200px;
	margin:0 auto;
	background:url(../images/header.jpg) no-repeat;
}
.menu{
	height:46px;
	background:url(../images/menu.jpg) repeat-x;
}
.left
{
	background:#0099CC;
	width:180px;
	float:left;
	min-height:200px;
	margin-top:12px;
}
input[type=text],textarea,input[type=password]{
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:3px 5px;
}
#formMod input[type=text],#formMod input[type=password],#formAdd input[type=text],#formAdd input[type=password]{

}
.CContenu{
	min-height:444px;
	background:#fff;display:inline-block ;
	width:100%;
	padding: 20px;
	padding-top: 10px;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}

#infosGPS{
	padding-left:20px;
	margin:13px auto;
	width:95%;
	height:20px;
	font-weight:normal;
	border-bottom:1px dashed #778;
	font-size:12px;
	background:transparent url(../images/gps.png) left no-repeat;
}
.clear{ clear: both;}
.footer{
	background-color:#e1eef5;
	/*background-image:url(../images/menu.jpg);*/
	text-align:center;
	padding:10px 0;
}
.logincontainer {
    width: 290px;
    margin: 20px auto 0 auto;
}
.control-group {
	margin-bottom: 9px;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
.logincontainer label {
	font-weight: bold;
}
.titre {
	margin: 0;
	font-family: inherit;
	font-size:24px;
	font-weight: bold;
	color:#3f3f3f;
	color: inherit;
	text-rendering: optimizelegibility;
}
.form{
	width:500px;
	margin:0 auto;
	padding-top:40px;
	margin-bottom:0;
}
.control-label
{
 font-weight:bold;
 text-align:right;
}
label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px; 
}
.chp {
	display: inline-block;
	/*	height: 18px;*/
	padding: 4px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	color: #555555;
	/*	background-color: #ffffff;
	border: 1px solid #cccccc;*/
	border: 1px solid #ccc;
	width:100%;
	-moz-border-radius: 0!important;
	-webkit-border-radius: 0!important;
	border-radius: 0!important;
	color: #999!important;
	padding:3px 16px!important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.chp1 {
	display: inline-block;
	width:280px;
	height: 18px;
	padding: 4px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	color: #555555;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.logincontainer .loginbtn {
    display: inline;
}
.logincontainer .rememberme {
/*    display: inline;*/
    padding: 0 0 0 20px;
	font-size:12px;
}
.logincontainer .rememberme label {
    display: inline;
}
.page-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
input[type="image"], input[type="checkbox"], input[type="radio"] {
	margin: 0 3px;
	height: 18px;
}
input[type="image"], input[type="checkbox"], input[type="radio"] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px 0;
	line-height: normal;
	cursor: pointer;
	background-color: transparent;
	border: 0 \9;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.lienA{
	text-decoration:none;
	font-family:arial;
	color:#0088c;
	font-size:12px;
}
#cnte:before {
content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 2s ease;
}
#cnte:hover:before {

	width: 100%;
}
#cnte{
border: none;
	background: #3a7999;
	color: #f2f2f2;
	padding: 7px 10px;
	font-size: 16px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease
	
}

#resLogin {
	overflow:hidden;cursor:pointer;
	display:none;
	padding:10px 10px 10px 10px;
}

#resLogin div.ko
{
	border:0px solid #c64a6c;
	padding:10px 8px 10px 8px;
	color:#c64a6c;
    background-color: #f2dede;
	border-radius: 7px;
	font-size:12px;
    box-shadow: 0px 0px 2px #c64a6c;
	text-align:center;
}


/*li.sousBouton{	
font-size:1em;cursor:pointer;font-weight:bolder;
background:#2172b0 url(../images/grad6b.png)repeat-x right bottom;
padding:5px;
padding-left:5px;
color:#FFF;
list-style:none;
-moz-border-radius:4px;-webkit-border-radius:4px;



}
li.sousBouton:hover{ background-image:none;	}*/

/*.cadreSousBouton{
	border-bottom:1px solid #CCC;
	margin:0 auto;
	margin-bottom:3px;
	width:90%;
}
*/
.sbCont{	
	display:none;
	font-size:1em;
	color:#778;
}
.sbCont .boutonWide{
	border:1px solid #CCC;
	color:#0066CC;
	cursor:pointer;
	font-weight:bold;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	padding:10px;
	padding-right:40px;
	background:no-repeat;background-position:93%;
}
.sbCont .boutonWide:hover{	border:1px solid #333; background-color:#0099CC; color:white;	}
.sbCont .boutonWide#importerSQL{ background-image:url(../images/upload.png);}
.sbCont .boutonWide#downSQL{ background-image:url(../images/download.png);}
.sbCont .boutonWide#changerEx{ background-image:url(../images/right.png);}
.sbCont .boutonWide#savePref,
.sbCont .boutonWide#changerMDP,
.sbCont .boutonWide#newEx{ background-image:url(../images/save24.png);}

.boxOptions{
	border:1px solid #CCC;
	-moz-border-radius:7px;
	margin:10px;
	position:relative;
	width:454px;
	float: left; 
	min-height:100px;
	-webkit-box-shadow: 0 0 65px #FFF inset, 0 0 20px #ccc inset;  
	-moz-box-shadow:    0 0 65px #FFF inset, 0 0 20px #ccc inset;  
	box-shadow:         0 0 65px #FFF inset, 0 0 20px #ccc inset;  
	margin-bottom:40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.titreOptions{
	-moz-border-radius:5px;
	background: url(images/grad6.png) repeat-x bottom #99CCFF;
	color:#333;
	padding:3px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.texteOptions{
	padding:10px;
	@min-height:150px;
	margin-bottom:5px;
}
.resOptions{
	float:left;
	width:50%;
	padding:8px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color:#666666;
}
#elevator,#elevator2{
/*	background:#ffffff url(../images/elevator_up.png) no-repeat center;*/
	
	border:1px solid #778;
	border-right:none;
	position:fixed;
	cursor:pointer;
	padding:20px 2px;
	margin-left:-18px;
	-moz-border-radius:10px 0px 0px 10px;
	-webkit-border-radius:10px 0px 0px 10px;
	border-radius:10px 0px 0px 10px;
	opacity:0.7;
}
#elevator{
	top:40%;
	-moz-border-radius:10px 0px 0px 10px;
	margin-top:-75px;
	-webkit-border-radius:10px 0px 0px 10px;
	BACKGROUND:#fff;
}
#elevator2{
	top:40%;
	BACKGROUND:#fff;
	-moz-border-radius:10px 0px 0px 10px;
	-webkit-border-radius:10px 0px 0px 10px;
}
#elevator:hover,#elevator2:hover{
	opacity:1;
	width:20px; 
	margin-left:-22px;
}
.content{ 
	width:900px;
	margin:0 auto;
	border-radius:3px 3px 3px 3px;
	border:1px solid #ccc;
	padding:20px;
}
.select{ 
	padding:3px 0 3px 0px; 
	text-align:left;
	width:210px;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #ccc;
}
.etoile{
	color:red; 
	padding-left:2px; 
	font-size:14px;
}
.chp60{ 
    width:60px;
}
#brouillon{
	display:none;
}
.chpinvisible{ 
    display:none;
}

/*Tab */
#tabAjout{
	width:1000px;
	border:0px solid #778;
	margin:auto;
	padding:5px;
}
#tabAjout #stepAjout ul {
	border-bottom:1px solid #778;
	height:23px;
	text-align:center;
}
#tabAjout #stepAjout li{
	list-style: none;
	margin: 0;
	margin-right : 3px;
	display: inline;
	padding: 7px 50px;
	border: 1px solid #778;
	border-bottom:none;
	-moz-border-radius: 15px 15px 0 0;-webkit-border-radius: 15px 15px 0 0;
	margin-left:-5px;	
	font-size:14px;
	font-weight:bold;
	background:#EFEFEF url(../images/grad3.jpeg) repeat-x bottom;
	color:#B1B1B1;
	cursor:pointer;
}
#tabAjout #stepAjout li.current{
	border-bottom:2px solid #FFFFFF;
	padding-top:15px;
	background:#FFFFFF;
	color:#000000;
}
#tabAjout #contenuAjout{
	padding:10px;
	margin-top:-11px;
	border:1px solid #778;
	-moz-border-radius:0 0 15px 15px ;-webkit-border-radius:0 0 15px 15px ;
	border-top:0px;
}
#tabAjout #contenuAjout>div{
	border:0px dashed #778;
}
#tabAjout #contenuAjout>div.current,#tabAjout #contenuAjout>div#boAjout{
	display:block;
}
.rappelAjout td{
	text-align:center;
}
#tabAjout #contenuAjout #boAjout{
	background:#FFFFFF url(../images//top_contenu.jpg) repeat-x top ;
	margin-bottom:10px;	 
	color:#778;
	font-weight:bold;
	border:1px solid #778;
}
input[action=supLigne]				{	background: url(../images/mini-trash.png) no-repeat right;}
input[action=prec]					{	background:transparent url(../images/prec.png) top center no-repeat;}
input[action=close]					{	background:transparent url(../images/Close-64.png) top center no-repeat;}
input[action=continuer]				{	background:transparent  url(../images/go-next.png) top center no-repeat;	}
input[action=annuler]					{	background:transparent  url(../images/annuler.png) top center no-repeat;}
input[action=effacer],.bEff			{	background:transparent url(../images/effacer.png) top center no-repeat;	}
input[action=terminer]				{	background:transparent url(../images/save.png) top center no-repeat;}
input[action=cancel]					{	background:transparent url(../images/cancel.png) top center no-repeat;}
input[action=ajout]					{	background:transparent url(../images/ajout.png) top center no-repeat;}
input[action=cloturer]					{	background: transparent url(../images/cloturer.png) top center no-repeat;}
input[action=rech]					{	background:transparent  url(../images/search.png) top center no-repeat;	}
input.boutonDeconn			{	cursor:pointer;background:transparent url(../images/down3.png) top no-repeat; border:0px ; height:30px;width:30px;opacity:1;}
input[action=toutSelect]				{	background: url(../images/checkbox2.gif) no-repeat center;	}

input[type=text],textarea{
	/*-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:2px;	*/
}

input.bouton32{
	cursor:pointer;
	height:60px;
	width:80px;
	opacity:0.4;
	border:0px;	
	text-align:center;
	padding-top:25px;
}/*Auto Complete */
input.bouton32:hover{
		opacity:0.9;
}
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	height:auto;
	min-height:200px;
	max-height:300px;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
	height:auto;
	min-height:200px;
	max-height:300px;
}

.ac_results li {
	margin: 0px;
	padding: 10px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}
.ac_loading {
	background: white url('../images/loading.gif') right center no-repeat;
}
.ac_odd {
	background-color: #eee;
}
.ac_over {
	background-color:#666666;
	color: white;
	font-weight:bold;
}
#listDelegation{
	position:absolute;
	background:#FFFFFF url(../images/top_contenu.jpg) repeat-x top;
	border:1px solid #778;
	 padding-top:0;
	display:none;
	z-index:9000;
	margin-top:1px;
	max-height:170px; overflow-y:scroll;
}
#listDelegation{width:250px;}
.elt{
	font-weight:bold;
	padding:10px;
	border:1px solid #ebebeb;
	cursor:pointer;
}
.elt:hover{
	background:url(../images/delete.png) no-repeat 220px center; 
	color:#333;
}
input[action=ajout]{background:transparent url(images/add24.png) top center no-repeat;}
input[action=down]{background:transparent url(images/down3.png) top center no-repeat;}
input[action=up]{background:transparent url(images/up3.png) top center no-repeat;}
input.button16	{
	cursor:pointer;
	height:24px;
	width:30px;
	opacity:0.6;
	border:0px;	
	text-align:center;
}
div.errForm{
	font-weight:bold;
	color:#FF0000;
	font-size:10px;
}
input.errForm{
	border:2px solid #FF0000;
	background-color:#FFFF99;
}
div.etiqForm {
	text-align:right;
}
.CContenu, .CContenu td,
.infoConn, .infoConn td,
#openBox, #openBox td{	
 	font-size:12px;
 	font-family:Arial, Helvetica, sans-serif;
}
#res{
	width:150px;
	font-weight:bold;
	padding:10px 0 10px 30px;
	margin:0 auto;
	margin-bottom:5px;
	font-weight:bold;
	text-align:center;
	/*background:url(images/check.png) no-repeat left;height:70px; padding-left:120px;margin:auto;*/
}
#res.ok{
	background:#E9F5F0 url(../images/ad24.png) no-repeat  ;	
	cursor:pointer;
	border:1px dashed #ccc;
}
#res.ko{
	background: #FFCCCC url(../images/ann.png) no-repeat left;
	padding:0 40px 0 30px;
	cursor:pointer;
	border:1px dashed #ccc;}
	
.chpObligatoire{
	border:1px solid  #990000;
	background-color:#FFECFF;
}
.msgErreur{
	text-align:center;
	font-weight:bold;
	color:#990000;
}
#myForm .actionForm input,.bConn,.bEff{
	cursor:pointer;
	height:60px;
	width:80px;
	opacity:0.4;
	border:0px;	
	text-align:center;
	padding-top:25px;
}
#myForm .actionForm input:hover,#formLigne input.boutonLigne:hover,.bConn:hover,.bEff:hover,#formStepLigne input.boutonLigne:hover,
input.boutonLigne:hover{
	opacity:1;
}
.CContenu, .CContenu td,.infoConn, .infoConn td,#openBox, #openBox td{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
fieldset.ZoneRech{ 
	border:1px solid #ccc; 
	margin :0 auto;
}

#formRech,#formFiltre,#formRes{
	width:900px;
	margin:auto;
	border:1px solid #CCC;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding:10px; 
	margin-bottom:5px;
}

#formFiltre, #formRes .entete, .entete{
			background-color: #111;
		background-image: -moz-linear-gradient(#444, #111); 
		background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));	
		background-image: -webkit-linear-gradient(#444, #111);	
		background-image: -o-linear-gradient(#444, #111);
		background-image: -ms-linear-gradient(#444, #111);
		background-image: linear-gradient(#444, #111);
		/*background: #666666 url(../images/grad6.png) repeat-x bottom;*/
	color:#FFFFFF;
	font-weight:bold;
	padding:0px 10px; 
}
#formFiltre td{	
	color:#FFF; 
	font-weight:bold;
}
#formFiltre select,#formRes select{
	font-size:1em;
	font-weight:normal;
}
#formRes{
	padding:0px;
/*	padding-bottom:5px;*/
	width:1000px;
	max-height:400px;	
}
#formRes td{
	padding:8px 5px;
}
#formRes li[class!=cf]{
	border-top:1px solid #CCCCCC;
}
#formRes li[class!=cf]:last-child,
#formRes li[class!=cf]:last-child:hover,
#formRes li:last-child.hover{
	border-bottom:1px solid #CCCCCC;
}
#formRes li[class!=cf]:hover,#formRes li.hover{
	background-color:#FFFF99;
	cursor:pointer;
	border-top:1px solid #CCCCCC;
	border-bottom:0px solid #CCCCCC;
	margin-bottom:0px;
}
#formRes .entete,.entete{	
	text-align:center;
}
#cList{
	height:475px;
	overflow-y:scroll;
}
#loadingBox
{
	border:0px solid red;
	width:100%;
	height:40px;
	background: transparent url(../images/loading.gif) no-repeat center;
}
tr.impair td{
	background-color:#f9f8f8;
	border-bottom:1px solid #ccc;
}
tr.pair td{
	background-color:#EFEFEF;
	border-bottom:1px solid #ccc;
}
tr.des td{
	background-color:#fce0e0;
	border-bottom:1px solid #ccc;
}
tr.act td{
	background-color:#bdffd9;
	border-bottom:1px solid #ccc;
}

tr.impair td,tr.pair td{ 
    word-wrap: break-word; 
	Width:60px;
  } 
tr.group td{ 
	background-color:#06709e;color:white;
	font-weight:bold;
  } 
.resAff{
	font-weight:bold;
	color:#003366;
	text-align:center;
	width:200PX;
	margin:0 auto;
}
.b{
	width:16px;
	height:16px;
	border:none;
	cursor:pointer;
	opacity:0.5;
	background: url(../images/editSmall.png);
}
.b:hover{
	opacity:0.9;
}
input.bouton16{
	cursor:pointer;
	height:20px;
	width:40px;
	opacity:0.4;
	border:0px;	
	text-align:center;
	padding-top:0px;
}
.chpObligatoire{
	border:1px solid  #990000;
	background-color:#FFECFF;
}
.msgErreur{
	text-align:center;
	font-weight:bold;
	color:#990000;
}
span#resG{
	border:1px solid #CCC;
	color:#333;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	text-align:left;
	font-size:13px;
	font-weight:bold;
	width:50%;
	padding:5px 10px;
	padding-left:45px;
	margin:5px auto;		
}
span#resA{
	border:1px solid #CCC;
	color:#333;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	text-align:left;
	font-size:13px;
	font-weight:bold;
	width:50%;
	padding:5px 10px;
	padding-left:45px;
	margin:5px auto;		
}
span#resG.ok{background:#EDFFDF url(../images/pOk.png) no-repeat 15px center;}
span#resG.alert{background: #FFFFE8 url(../images/alert.png) no-repeat 15px center;}
span#resG.ko{background: #FFECEA url(../images/pKO.png) no-repeat 15px center;}
span#resG.vide{border:none; background:none;}
span#resA.vide{border:none; background:none; }
span#resA.alert{background: #FFFFE8 url(../images/alert.png) no-repeat 15px center;}
fieldset.add{ 
	border:1px solid #EBEBEB;
	margin :0 auto;
	color:#333;
	-moz-border-radius:14px;
	-webkit-border-radius:4px;
	border-radius:4px;
	margin:10px;
}
textarea{ 
	resize:none;
}
input.error,textarea.error ,  input.error,textarea.error {
	border:1px solid  #990000;
	background-color:#FFECFF;
}
.detail,.affecter{
	border:1px solid #CCC;
	color:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px; 
	cursor:pointer;
}
.detail{ 	background:#166ba2 url(../images/grad6.png) repeat-x;}
.affecter{ 	background:#666666 url(../images/grad6.png) repeat-x;}

div.detail{
	margin:0 0 20px 0;
}
.pres{ 
	padding:10px 20px;
	-moz-box-shadow: inset 0px 0px 40px 0px #ebebeb;
	-webkit-box-shadow: inset 0px 0px 40px 0px #ebebeb;
	-o-box-shadow: inset 0px 0px 40px 0px #ebebeb;
	box-shadow: inset 0px 0px 40px 0px #ebebeb;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#ebebeb, Direction=NaN, Strength=40);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.goContact{
	padding:7px 38px ;
	cursor:pointer; font-size:12px;
	background:#1d5d9d url(../images/gradH.png) repeat-x; 
	color:white;
	border:1px solid #ccc;
}
.goContact:hover{
	opacity:0.8
}
#loading{
	margin:0 auto; margin-left:300px; 
	display: none;
 }
.OK{
	font-size:12px;
	font-weight:bold;
	color:#5ca353;
	padding-left:20px;
	font-family:Arial, Helvetica, sans-serif;
	background:#E9F5F0 url(../images/ok.png) no-repeat left top;	
	cursor:pointer;
	border:1px dashed #ccc;
	-webkit-border-radius: 4px;
	-khtml-border-radius:4px;
	border-radius: 4px;
}
.KO{
	font-size:12px;
	font-weight:bold;
	color:#e86958;
	padding-left:20px;
	background:url(../images/error.png) no-repeat  left 190px 0;
	border:1px solid  #990000;
	background-color:#FFECFF; 
	-webkit-border-radius: 4px;
	-khtml-border-radius:4px;
	border-radius: 4px;
}
#resForm { 
	margin:0 auto;
	padding:5px;
	width:50%;
	text-align:center;
 }
#formContact  input.error,textarea.error{
	border:1px solid  #990000;
	background-color:#FFECFF;
}
label.error {
	color:#990000;
}
.listeCase{
	min-height:130px; 
	max-height:130px; 
	min-width:100px; overflow:auto;
	border:1px solid #ccc;
	background:#FF9; 
	padding:4px;
 }
.listeCase input[type=checkbox]{ 
	clear:both;
}
.Imprimer{ 
    background:url(../images/print-go.png);
	border:0;
    height:24px;
    width:24px;
    display: inline-block;
	cursor:pointer;
}
.add{ 
    background:url(../images/add24.png);
	border:0;
    height:24px;
    width:24px;
    display: inline-block;
	cursor:pointer;
}
#formcon{
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
	background-image:url(images/eror.png);
	display:none;/**/
}
label[for=pwd]{
	display:inline;
	margin-top:10px;
}
/************* css menuLogin.php*******************************/
.cadreA{
	border:1px solid #e8e8e8;
	width:218px;
	font-size:12px;
	color:#999999;
	float:left;
}
.btnLogin{
	background:  url(../images/btnLoginDown.png) no-repeat right ;
	padding:8px 0px; 
	width:220px; 
	margin-top:10px;
	font-weight:bold;
	color:#1b3647; 
	margin-left:10px;  
	font-size:11px;	
}
.btnLogin.open{ 
	background: url(../images/btnLoginUp.png) no-repeat right ; 
}
.btnLogin:hover{
	cursor:pointer;
}		
.menuLogin{ 
	float:right;
	margin-right:15px;
}
.boxLogin{
	display:none; 
	position:absolute; 
	margin-top:0px; 
	background:#FFFFFF; 
	margin-left:10px; 
	z-index:10000;
	-moz-box-shadow:black 0px 10px 40px -20px;
	-webkit-box-shadow:black 0px 10px 40px -20px;
}
li.sousBouton{ 
	color:#1b3647;
	padding:6px 7px;	 
	font-size:1em;
	cursor:pointer;
	font-weight:bolder;
	background:#e8e8e8 url(../images/grad6b.png)repeat-x right bottom;
	border-bottom:1px solid #ccc;
	list-style:none; 
}
li.sousBouton:hover,
li.sousBouton.koko{background:#666666; color:#FFFFFF;}
.cadreSousBouton{ 
	margin-bottom:0px;
	border-bottom:0px  dotted #778;
	width:100%;
	-moz-border-radius:0px; 
}
.cadreSousBouton li{
	border-bottom:1px solid #CCC;
}
.sbCont{
	padding:10px 0;
}
/************** fin style **************/
input[action=ajout]{background:transparent url(../images/add24.png) top center no-repeat;}
input[action=ajoutTarif]{background:transparent url(../images/add48.png) top center no-repeat;}
input[action=down]{background:transparent url(../images/down3.png) top center no-repeat;}
input[action=up]{background:transparent url(../images/up3.png) top center no-repeat;}
input.button16	{
	cursor:pointer;
	height:24px;
	width:30px;
	opacity:0.6;
	border:0px;	
	text-align:center;
}
.erroer {
    border: 1px solid #990000;
    background-color: #FFECFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.BtnEtatM{
border:1px solid #ccc;
padding:5px;	
}
.Field1{
	 background:#fbface;
}
.Field1 legend{
	 font-size:14px;background:#fbf888;margin-bottom:0;padding:5px 4px;font-weight:bold;
}
.Field2{
	 background:#cefbd0;
}
.Field2 legend{
	 font-size:14px;background:#a7fbd0;margin-bottom:0;padding:5px 4px;font-weight:bold;
}
#progress-bar {background-color: #3495c0;height:30px;color: #FFFFFF;width:0%;-webkit-transition: width .3s;-moz-transition: width .3s;transition: width .3s;}

#progress-div {border:#CCC 1px solid;padding: 0px 0px;margin:30px 0px;border-radius:2px;text-align:center; display:none;}

.tableFr tr th{ 
    word-wrap: break-word; 
border:1px solid #ccc;
  } 
.tableFr tr td{ 
    word-wrap: break-word; 
border:1px solid #ccc;background:#ebebeb;font-weight:bold;
  } 
  td.lblTotal{
  background:#666666 ;color:#fff;font-weight:bold;}
  
table tr.Disponible{background:#cefbd0;}
table tr.Enmiss{background:#FE959C;}

.Tech tr td,.Tech tr th{ border:1px solid #ccc;}
#divLoading
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('../images/loading.gif');
    background-color:#666;
    opacity : 0.8;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
.TechDisp { 
	font-weight:bold;color:#DD0000;text-align:left;
	background-image: url(../images/handDown.png);
	background-position: right center;
	background-repeat: no-repeat;
	border:0;
	cursor:pointer;
}
.cloturerTech { 
	font-weight:bold;color:#339900;
	text-align:left;background-image:url(../images/handUp.png) no-repeat;
	border:0 ;cursor:pointer;
	cursor:pointer;
}
#BoxCommun{left:50%;}


.boutonA{
	display: inline-block;
    white-space: nowrap;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
    background: linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
    border: 1px solid #a1a1a1;
    
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	cursor:pointer;
}
.btnSite{
	background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
    background: linear-gradient(top, #eeeeee 0%,#eeeeee 100%);
    border: 1px solid #a1a1a1;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}
.btnSite:hover{
	background: #00008B;  
	background: -moz-linear-gradient(top, #191970 0%, #00008B 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00008B), color-stop(100%,#00008B));
    background: -webkit-linear-gradient(top, #00008B 0%,#00008B 100%);
    background: -o-linear-gradient(top, #00008B 0%,#00008B 100%);
    background: -ms-linear-gradient(top, #00008B 0%,#00008B 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00008B', endColorstr='#00008B',GradientType=0 );
    background: linear-gradient(top, #00008B 0%,#00008B 100%);
    border: 1px solid #a1a1a1;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;

    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);color:#fff;
}

	
/*	

	#menu-trigger {
		display: none;
	}

	@media screen and (max-width: 600px) {

	
		#menu-wrap {
			position: relative;
		}

		#menu-wrap * {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}

	

		

		#menu {
			margin: 0; padding: 10px;
			position: absolute;
			top: 40px;
			width: 100%;
			z-index: 1;
			background-color: #444;
			display: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;		
		}

		#menu:after {
			content: '';
			position: absolute;
			left: 25px;
			top: -8px;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #444;
		}	

		#menu ul {
			position: static;
			visibility: visible;
			opacity: 1;
			margin: 0;
			background: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;				
		}

		#menu ul ul {
			margin: 0 0 0 20px !important;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;		
		}

		#menu li {
			position: static;
			display: block;
			float: none;
			border: 0;
			margin: 5px;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;			
		}

		#menu ul li{
			margin-left: 20px;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;		
		}

		#menu a{
			display: block;
			float: none;
			padding: 0;
			color: #999;
		}

		#menu a:hover{
			color: #fafafa;
		}	

		#menu ul a{
			padding: 0;
			width: auto;		
		}

		#menu ul a:hover{
			background: none;	
		}

		#menu ul li:first-child a:after,
		#menu ul ul li:first-child a:after {
			border: 0;
		}		

	}

	@media screen and (min-width: 600px) {
		#menu {
			display: block !important;
		}
	}	


	.no-transition {
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
		opacity: 1;
		visibility: visible;
		display: none;  		
	}

	#menu li:hover > .no-transition {
		display: block;
	}*/
	.add_field_button {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    background: url(../images/add24.png) no-repeat;
}
.remove_field{
	width:20px;
	height:20px;
	border:none;
	cursor:pointer;
	background:url(../images/x.png) no-repeat ;
}
.ligneEdit{
	cursor:pointer;
}
.divList{
	border:1px solid #ccc;min-height:300px;
	WIDTH:64%;float:right;padding:5px;background:#f6f6f6;overflow-y:scroll;
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);}
.arti{
	border:1px solid #ccc;min-height:300px;WIDTH:34%;float:left;padding:5px;
	background:#f6f6f6;overflow-y:scroll;
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	}

#listBox td{	
	padding:3px 2px;
	border:1px solid #ccc;
}
.positif ,input[class=positif]{
	border:2px solid green;background:#fff;
   -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;}
.negatif,input[class=negatif] {
	border:2px solid red;background:#fff;
   -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;}
	#InfoArticle{
	display:none;
	border:1px solid #ccc;background:#c8effe;padding:5px 2px;
   -moz-border-radius: .1em;
    -webkit-border-radius: .1em;
    border-radius: .1em;
	}
a.depot{
	font-size:28px;	background-color: #111;
	background-image: -moz-linear-gradient(#444, #111); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));	
	background-image: -webkit-linear-gradient(#444, #111);	
	background-image: -o-linear-gradient(#444, #111);
	background-image: -ms-linear-gradient(#444, #111);
	background-image: linear-gradient(#444, #111);
}
.save{	
background:#05aaea url(../images/save.png) top center no-repeat;
width:80px;color:#fff;
	border:0px;	
	text-align:center;font-size:14px;
	padding-top:35px;
	cursor:pointer;
	
	
   -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
}

 #plus{
	width:16px;
	height:16px;
	border:none;
	cursor:pointer;
	opacity:0.5;
	background: url(../images/plus.png) no-repeat;
		margin-right:10px;
		
}
 #plus:hover{
		opacity:0.9;
}
#InfoArticle{
	display:none;
	border:1px solid #ccc;
	background:#c8effe;padding:5px 2px;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	border-radius: .1em;
}
#InfoArticle input{
	border:none;
	padding:4px;
	font-weight:bold;
	background:#c8effe;
	WIDTH:100px;
	}
.detail{
	-moz-box-shadow: 0 -1px rgba(255,255,255,.3);
	-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);
	box-shadow: 0 -1px 0 rgba(255,255,255,.3);	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;  
	padding:5px 15px;
	Font-size:14px;
}
.detail:hover{
		background-color: #111;
		background-image: -moz-linear-gradient(#444, #111); 
		background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));	
		background-image: -webkit-linear-gradient(#444, #111);	
		background-image: -o-linear-gradient(#444, #111);
		background-image: -ms-linear-gradient(#444, #111);
		background-image: linear-gradient(#444, #111);
}
.tableGroup{
 border-collapse: collapse;
}
  
.cam {
	border:none;
	cursor:pointer;
	background:url(../images/cam.png);
	height:60px; width:60px;
}
.mod48{
	width:48px;
	height:48px;
	border:none;
	cursor:pointer;
	background: url(../images/editer48.png);
}
.sup32{
	width:32px;
	height:32px;
	border:none;
	cursor:pointer;
	background:  url(../images/remove.png);
}
.nbr{
	unicode-bidi: bidi-override;direction: ltr;
}

input[action=telecharger]	{ background:transparent  url(../images/save.png) top center no-repeat;	}

.divArticleL{
	width:30%;padding:12px 10px;float:left;	TEXT-align:left;border-right:1px solid #ccc;
}
.divPVL{
		width:120px;padding:12px 10px;float:left;	TEXT-align:right;border-right:1px solid #ccc;
}
.divColisageL{
		width:10%;padding:12px 10px;float:left;	TEXT-align:right;border-right:1px solid #ccc;
}

.divTTC{
		width:190px;padding:12px 10px;float:left;	TEXT-align:right;border-right:1px solid #ccc;
}

 .divQteL{
		width:120px;padding:12px 10px;float:left;	TEXT-align:right;border-right:1px solid #ccc;
}
.title{width:100;font-size:30px; text-align:center;}
.pair{
background: #F2F2F2; /* Old browsers */
/*
border:1px solid #ccc;
*/
	overflow: auto; border-top:0;
}
.impair
{
background: #ffffff; /* Old browsers */
overflow: auto; border-top:0;
}

.ListeCmd{
	border: 1px solid #CCC;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;

}
.ligne{
	BORDER:1px solid #ebebeb;clear:both;
	width:100%;
}
.ListeCmd{
	border: 1px solid #CCC;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;

}
.enteteL>div{
	color:#fff;
}
.ListeCmd .enteteL{
	color:#fff;
	background: #1a4ba8; /* Old browsers */
color:#003399;
	TEXT-align:center;overflow: auto;display: flex;
}

.divArticleL{
	width:423px;padding:12px 10px;float:left;	TEXT-align:left;border-right:1px solid #ccc;
}
.divPVL{
		width:120px;padding:12px 10px;float:left;	TEXT-align:right;border-right:1px solid #ccc;
}
.divColisageL{
		width:90px;padding:12px 10px;float:left;	TEXT-align:right;border-right:1px solid #ccc;
}

.divTTC{
		width:190px;padding:12px 10px;float:left;	TEXT-align:right;border-right:1px solid #ccc;
}

 .divQteL{
		width:120px;padding:12px 10px;float:left;	TEXT-align:right;border-right:1px solid #ccc;
}
.pairL{
background: #F2F2F2; /* Old browsers */
/*
border:1px solid #ccc;
*/
	overflow: auto; display: flex;border-top:0;
}
.impairL
{
background: #ffffff; /* Old browsers */
overflow: auto; display: flex;border-top:0;
}