<!DOCTYPE html>
<html>
<head>
	<title>Learn Angular</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.color.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
</head>
<body ng-app>
	<div>imzoughene</div>
	<div>5 + 5 = {{5+5}}</div>
	<br>
	<div>
		<label>user name</label>
		<input type="text" name="" ng-model="imzoughene">
		<hr>
		<div>{{imzoughene}}</div>
	</div>
	<div>
		<label>imzoughene1</label>
		<input type="number" name="" ng-model="imzoughene1">
		<label>imzoughene2</label>
		<input type="number" name="" ng-model="imzoughene2">
		<hr>
		<div>{{imzoughene1 * imzoughene2}}</div>
	</div>
</body>
</html>