*{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-size: 15px;
}
.bg-black{
  background-color: black;
  color: white;
}
.header{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  position: relative;
}

.header::after {
  content: "";
  background: url('../images/2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 200px;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.panel-body{
  width: 330px;
  background-color: white;
  padding: 10px;
}
#top-div{
  background-color: /*#6f5622;*/black;
  padding: 20px;
}
body{
  background-color: #bdc3c7;
}
.bkg{
  background-color: #a91515;
  color: white;
}
a{
  color: white;
}
.font-size-15{
  font-size: 25px;
}
.container_skitter  {
    width:100%;
    height:300px !important;
}

.skitter-large {
    width:100% !important;
    height:300px;
}

.skitter-large img {
    /*width: 100%;*/
    height:300px !important;
    border: 15px solid black;
}
.skitter-large {
  height: 300px !important;
  min-height: 100px;
}
.skitter {
  max-width: 5000px;
}
#top-div{
  /*position: fixed;*/
  /*position: fixed;
    z-index: 1001;*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
}
.r-title{
  font-size: 22px;

  line-height: 30px;
  padding: 15px;
}
.arrow-yellow{
  width: 60px;
  background-color: #AA8434;
  height: 2px;
  margin: 20px auto;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.font-16{
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
}
.red-bg{
  background-color: #A91515;
  padding-top: 20px;
  padding-bottom: 20px;

}
.anchor-footer{
    background-color: transparent;
    color: #FEFFFF;
    padding: 20px;;
    min-height: 34px;
    line-height: 34px;
    font-size: 16px;

}
.border-left{
  border-left: 1px solid #AA8434 !important;
  padding-left: 25px;;

}
.font-25{
  font-size: 25px;
  color: #FEFFFF;
}
#map{
  width: 100%;
  height: 350px;
}
#empty-space {
  height: 87px;
}
@media screen and (max-width: 600px) and (max-width: 992px) {
  #empty-space {
    height: 240px;
  }
}
.navbar-light .navbar-toggler-icon {
  background-color: white;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: white;

}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color:  #a91515;
    font-weight: bold;
}
